@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}
body{
  /* background-color: rgb(148, 1, 148); */
}

.links-btn{
  background-image: linear-gradient(to right top , rgba(63, 7, 63, 0.7),rgba(174, 57, 174,0.8));
}

.about-container{
  border: none;

 
}
.menu-slide{
  box-shadow: 0 40px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  background-color: rgba(19, 18, 17, 0.944);
  transition: 0.5s;
}
.skill{
  transition: all 0.3s;
}