@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}
body{
  background-color: #121212;
}
.about-container{
  border: none;

 
}
.menu-slide{
  box-shadow: 0 40px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  background-color: rgba(000,000,000,0.6);
  transition: 0.5s;
}